.mat-button-toggle{
  background-color: transparent;
  color: green;
  border: solid 1px green;
}

.mat-button-toggle:hover {
  background-color: green;
  color: white !important;
}

.mat-button-toggle-checked {
  background-color: green;
  color: white !important;
}

.incorrect {
  /* background-color: rgba(255, 0, 0, 0.368); */
}

.incorrect .correctAnsware {
  background-color: green;
  color: white !important;
}

.incorrect .mat-button-toggle-checked {
  background-color: red;
  color: white !important;
}
