.mat-button-toggle{
  background-color: transparent;
  color: green;
  border: solid 1px green;
}

.mat-button-toggle:hover {
  background-color: green;
  color: white !important;
}

.mat-button-toggle-checked {
  background-color: green;
  color: white !important;
}

.submit-btn {
  width: 100%;
  margin: 20px 70px 0;
}
